<div class="container">
    <form>
        Cerveja:
        <input type="text" name="">
        Preço:
        <input type="text">
        Volume:
        <input type="text">
        IBU:
        <input type="number">
        ABV:
        <input type="number">
        Cervejaria:
        <input type="text">
        Estilo:
        <input type="text">
        URL da Imagem:
        <input type="text">
        URL QR Code:
        <input type="text">
        <button>
            Salvar torneira
        </button>
    </form>
</div>
